.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6%;
    width: 55%;

    background-color: #D0E3CC;
    padding: 50px;
    border-radius: 20px;
}

button.closeCard{
    position: fixed;
    top: 25px;
    right: 25px;

    height: 25px;
    width: 25px;
    
    color: #494949;
    font-weight: bolder;
    background-color: #EFD780;
    border-radius: 8px;

    cursor: pointer !important;
}

.devInfo > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
}