#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  height: 100%;
  width: 100%;
}

/* Tema escuro */
/* [data-theme='dark'] {
  background-color: var(--main_background);
  color: var(--text_color_dark);
} */

.canvas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 75vw;
  height: 60vh;
  margin: 20px auto;
}

.linha_4{
  display: flex;
  flex-direction: row;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
