:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main_background: #F7FFDD;
  --accent_background:#D0E3CC;
  --delicate_icon: #EFD780;
  --great-text: #DBA159;
  --accent-text: #DBA159;
  --light_text: #D0E3CC;
  --station_name: #494949;
  --grid: #efcc804b;

  /* cores das linhas */
  --linha_1: #0051A0;
  --linha_2: #008261;
  --linha_3: #F63C30;
  --linha_4: #FCD43A;
  --linha_5: #7951A7;
  --linha_7: #981C62;
  --linha_8: #9E9E96;
  --linha_9: #00AA91;
  --linha_10: #007D8F;
  --linha_11: #F24C1C;
  --linha_12: #053E85;
  --linha_13: #11A35A;
  --linha_15: #878F92;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main_background);
  transition: background-color 0.3s, color 0.3s;  /* Transição suave para a troca de tema */
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--great-text);
}

h2, p{
  margin: 0;
  color: #494949;
}

a{
  color: var(--accent-text);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

label{
  font-size: 12px;
  font-weight: bolder;
  color: var(--station_name)
}

input{
  background-color: white;
  color: #494949;
  border: none;
  width: 55%;
  padding: 14px 25px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
button:hover {
  position: relative;
  top: -1px;
  /* adicionar animação do botão crescendo um pouco aq*/
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; 
} */

[data-theme='dark'] {
  --main_background: #282A3A;
  --accent_background: #EFD780;
  --delicate_icon: #FCFDAF;
  --great-text: #EFD780;
  --accent-text: #F7FFDD;
  --station_name: #FCFDAF;
  --grid: #494949;
}